
	// start .sCategory
	.sCategory {
		border-top: 1px solid rgba($black, .1);
		padding: rem(15) 0 rem(100) 0;

		//headline-strip
		&__headline-strip{
			display: flex;
			background-color: rgba($light, .3);
			border-radius: rem(16px);
			padding: rem(20);

			flex-wrap: wrap;
			@include media-breakpoint-up(lg){
				flex-wrap: nowrap;
			}
		}
		&__catalot-col{

			position: relative;

			&:after{
				//content: '';
				position: absolute;
				right: 0;
				top: -1.25rem;
				height: calc(100% + 2.5rem);
				width: 1px;
				background-color: rgba($black, .1);
			}

			width: auto;
			@include media-breakpoint-up(lg){
				width: 25.8%;
				&:after {
					content: '';
				}
			}
		}
		&__catalog-txt{
			@extend .h4;
			line-height: 28px;
			margin-bottom: 0;
		}
		&__sort-show-col{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-grow: 1;


			flex-wrap: wrap;
			@include media-breakpoint-up(md){
				flex-wrap: nowrap;
				padding-top: rem(20);
			}

			width: 100%;
			order: 1;

			@include media-breakpoint-up(lg){
				padding: 0 rem(25);
				order: 0;
				width: auto;
			}
		}
		&__sort-select-box{
			//padding-bottom: rem(20);
			width: 100%;
			@include media-breakpoint-up(md){
				padding-bottom: 0;
				width: auto;
			}
		}
		&__sort-txt{
			font-size: rem(14px);
			color: #000000;
			opacity: 0.5;
			margin-right: rem(15);
		}
		&__sort-select{
			border: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: rem(25);
			outline: 0;
		}
		&__vue-btns-box-col{
			padding-left: rem(20);

			margin-left: auto;
			@include media-breakpoint-up(lg){
				margin-left: 0;
			}
		}
		&__vue-btn{
			border: none;
			outline: none;
			background-color: transparent;
			.icon{
				font-size: rem(24);
				color: $deep-gray;
			}
			&.active{
				.icon{
					color: $danger;
				}
			}
		}


		//show-for-and-pugin-row
		&__show-for-and-pugin-row{
			justify-content: space-between;
			padding-top: rem(20);
			@include media-breakpoint-down(sm) {
				.col-item {
					//width: 310px;
					margin-left: auto;
					margin-right: auto;
					padding-left: rem(30);
					padding-right: rem(30);

					&:first-child {
						padding-bottom: rem(30);
					}
					&:last-child{
						padding-left: calc(30px + .9375rem);
					}
				}
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sCategory

// square items
.square-items-bl{
	padding-top: rem(36);
	@extend .roww-40-20;
}
.square-card-item{
	display: block;
	background-color: white;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 20px;
	@include media-breakpoint-up(xl){
		margin-bottom: 40px;
	}

	border: 1px solid $light;
	border-radius: rem(10);
	padding: rem(15);
	position: relative;
	&__like-btn{
		position: absolute;
		right: rem(10px);
		top: rem(10px);
		border-radius: 50%;
		border: 1px solid $light;
		display: flex;
		width: rem(32);
		height: rem(32);
		cursor: pointer;

		@include mt();
		.icon{
			margin: auto;
			font-size: rem(16px);
			color: $light;
		}
		&:hover{
			box-shadow: 0 0 15px -3px $light;
		}
	}
	&__articul-txt{
		display: block;
		text-align: center;
		font-size: rem(12px);
		color: rgba($black, .5);
		padding: 0 rem(40);
		height: rem(36);
		text-overflow: ellipsis;
		margin-bottom: rem(5);
	}
	&__img-block{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		height: rem(200);
		text-align: center;
		.product-img{
			display: none;
			max-width: 100%;
			max-height: 100%;
			&.active{
				display: inline;
			}
		}
	}
	&__item-name{
		display: block;
		font-size: rem(14);
		text-align: center;
		color: $black;
		padding-bottom: rem(10);
	}
	&__price-bl{
		text-align: center;
		color: $primary;
		font-size: rem(16);
		font-weight: bold;
		padding-bottom: rem(15);
	}
	&__color-choise-bl{
		display: flex;
		//flex-wrap: nowrap;
		justify-content: center;
	}
	&__color-choise-item{
		margin-left: 3px;
		margin-right: 3px;
		width: calc(100% / 6 - 6px);
		max-width: 30px;
		@include media-breakpoint-up(xl) {
			width: 30px;
			margin-left: 6px;
			margin-right: 6px;
		}

		position: relative;
		height: 14px;
		cursor: pointer;
		&.active{
			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: transparent;
				top: 0;
				left: 0;
				box-shadow: 0 0 0 2px white, 0 0 0 3px $primary;
			}
		}
	}
	//
	&__color-choise-img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__{}
	&__{}
	&__{}
}