mixin sOfficerPride()
	// start sOfficerPride
	+b.sOfficerPride.section#sOfficerPride&attributes(attributes)
		.container
			+b.officer-pride-bl
				h2 #[span(style="color: #457c3a;") Офицер Честь имею!] Отечественное производство форменной оджеды
				+e.txt-row.row
					+e.left-col.col-lg-8
						p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при прДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при пр
					+e.right-col.col
						p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при
				.row
					.col-6.col-md-3
						+e.green-pill-cont
							+e.IMG.green-pill-img(src='img/green-sew-mach.svg' alt="")
							+e.green-pill-txt
								| Собственное
								br
								| производство
					.col-6.col-md-3
						+e.green-pill-cont
							+e.green-pill-img
								img(src='img/green-tag.svg' alt="")
							+e.green-pill-txt
								| Оптовые цены
								br
								| в рознице
					.col-6.col-md-3
						+e.green-pill-cont
							+e.IMG.green-pill-img(src='img/green-soldier.svg' alt="")
							+e.green-pill-txt
								| Индивидуальные
								br
								| пошивы в любых количествах
					.col-6.col-md-3
						+e.green-pill-cont
							+e.IMG.green-pill-img(src='img/green-box.svg' alt="")
							+e.green-pill-txt
								| Доставка в любую точку
								br
								| Российской Федерации
		// end sOfficerPride