mixin sCatalog()
	// start sCatalog
	+b.sCatalog.section#sCatalog&attributes(attributes)
		.container
			.swiper-container.clother-slider
				.swiper-wrapper
					.swiper-slide
						+clotherSlide('img/@2x/index-slider-bg.jpg')
					.swiper-slide
						+clotherSlide('img/@2x/index-slider-bg.jpg')
					.swiper-slide
						+clotherSlide('img/@2x/index-slider-bg.jpg')
				.clother-slider-pugin.d-none.d-md-block
			.h2.catalog-txt Каталог
			.row.roww-40-20
				- let categoryItemsList = ['Костюмы', 'Куртки', 'Брюки', 'Жилеты, разгрузки', 'Головные уборы', 'Фурнитура', 'Шевроны, погоны', 'Трикотаж', 'Рубашки', 'Рюкзаки, сумки', 'Свитера, толстовки', 'Обувь'];
				- for(var i = 1; i < 13; i++) {
					+categoryItem(i, categoryItemsList[i-1])
				- }
	// end sCatalog

mixin categoryItem(imgNum, categoryTxt)
	.col-6.col-md-4.col-lg-3
		+b.category-item
			+e.category-link(href="#")
				+e.category-img-cont
					+e.IMG.category-img(src=`img/@2x/category-img${imgNum}.png` alt='')
				+e.SPAN.category-txt=categoryTxt

mixin clotherSlide(bgImg)
	+b.clother-slide
		+e.IMG.background-img.swiper-lazy(src="#" data-src=bgImg alt="")
		+e.slide-content
				+e.slide-title
					|Форменная одежда,
					|обувь, снаряжение
				+e.img-txt-pills-container
					+e.img-txt-pill
						img.pill-img(src='img/small-white-sew-mach.svg' alt='')
						span.pill-txt Собственное производство
					+e.img-txt-pill
						img.pill-img(src="img/small-white-delivery.svg" alt='')
						span.pill-txt Пошив в любых количествах
				+e.learn-more-btn.btn.btn-pr(href="#") Подробнее
		+e.slide-img-cont.d-none.d-lg-block
			img.slide-img.swiper-lazy(src='#' data-src="img/@2x/slider-img.png" alt="")