mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row
				.col.col-auto.location-bl
					+icon('location')
					span Москва
				.main-menu.col.col-auto.d-none.d-md-flex
					+mnu()
				+mob-mnu()
	// end topLine