mixin sSmaplePage()
	// start sSmaplePage
	+b.SECTION.sSmaplePage.section#sSmaplePage&attributes(attributes)
		.container
			h1 Заголовок контент страницы H1
			h2 Заголовок контент страницы H2
			h3 Заголовок параграфа страницы H3
			p Канадская альтернативная рок-группа, основанная в&nbsp;1995 году в&nbsp;городе Ханна (англ.). Группа состоит из&nbsp;гитариста и&nbsp;вокалиста Чеда Крюгера; гитариста, клавишника и&nbsp;бэк-вокалиста Райана Пик; басиста Майка Крюгера и&nbsp;барабанщика Канадская альтернативная рок-группа, основанная в&nbsp;1995 году в&nbsp;городе Ханна (англ.). Группа состоит из&nbsp;гитариста и&nbsp;вокалиста Чеда Крюгера; гитариста, клавишника и&nbsp;бэк-вокалиста Райана Пик; басиста Майка Крюгера и&nbsp;барабанщика
			img(src="img/@2x/sample-img.jpg" )
			h4 Заголовок параграфа страницы H4
			p(style="font-size: 14px;") Канадская альтернативная рок-группа, основанная в&nbsp;1995 году в&nbsp;городе Ханна (англ.). Группа состоит из&nbsp;гитариста и&nbsp;вокалиста Чеда Крюгера; гитариста, клавишника и&nbsp;бэк-вокалиста Райана Пик; басиста Майка Крюгера и&nbsp;барабанщика Канадская альтернативная рок-группа, основанная в&nbsp;1995 году в&nbsp;городе Ханна (англ.). Группа состоит из&nbsp;гитариста и&nbsp;вокалиста Чеда Крюгера; гитариста, клавишника и&nbsp;бэк-вокалиста Райана Пик; басиста Майка Крюгера и&nbsp;барабанщика
			h6 Заголовок параграфа страницы H4
			ul
				li Канадская альтернативная рок-группа,
				li основанная в 1995 году в городе Ханна (англ.).
				li Группа состоит из гитариста и вокалиста Чеда Крюгера;
				li гитариста, клавишника и бэк-вокалиста Райана Пик;
			blockquote
				|Цитата из текста или
				br
				|акцентная фраза
			p(style="font-size: 14px;") Канадская альтернативная рок-группа, основанная в 1995 году в городе Ханна (англ.). Группа состоит из гитариста и вокалиста Чеда Крюгера; гитариста, клавишника и бэк-вокалиста Райана Пик; басиста Майка Крюгера и барабанщика Канадская альтернативная рок-группа, основанная в 1995 году в городе Ханна (англ.). Группа состоит из гитариста и вокалиста Чеда Крюгера; гитариста, клавишника и бэк-вокалиста Райана Пик; басиста Майка Крюгера и барабанщика
	// end sSmaplePage