 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

//breadcrumbs

.breadcrumb-slider-js-prod-card03{
	padding-bottom: rem(15);

	.breadcrumb {
		background-color: transparent;
		display: flex;
		flex-wrap: nowrap;
		padding: 0 0 0 0;
	}

	.breadcrumb-item {
		width: auto;
		padding-right: 30px;
		&:before, &:after{
			padding: 0;
			content: "";
			position: absolute;
			right: 13.25px;
			width: 4px;
			height: 1px;
			background-color: black;
		}
		&:before{
			transform: rotate(45deg);
			top: calc(50% - 1px);
		}
		&:after{
			transform: rotate(-45deg);
			top: calc(50% + 1px);
		}
		&:last-child{
			&:before, &:after{
				display: none;
			}
		}

		a {
			line-height: rem(25px);
			font-size: rem(12px);
			//padding-right: rem(10px);
			color: $primary;
		}

		&.active {
			a {
				color: rgba($black, .5);
				pointer-events: none;
			}
		}
	}
}

