mixin seoSection()
	// start seoSection
	+b.SECTION.seoSection.section#seoSection&attributes(attributes)
		.container
			block

	// end seoSection

mixin seoSectionon02page()
	+b.section-title
		h2.h2 СЕО Каталога
	p.seo-par Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при прДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при пр
mixin indexPugSeoSection()
	+b.section-title
		h2.h2 Полезные материалы
	+b.news-box
		.row
			+newsBoxItem(1)
			+newsBoxItem(2)
			+newsBoxItem(3)
			+newsBoxItem(4)
		+e.show-more-btn(href="#") Загрузить еще

mixin newsBoxItem(imgSrc)
	.col-12.col-sm-6.col-lg-3
		+e.img-box-container
			+e.img-box(href="#")
				+e.IMG.news-img(src=`img/@2x/news-item${imgSrc}.png` alt="")
				+e.SPAN.date-span 17.04.2020
		+e.H4.news-headline.h4
			a(href="#") Заголовок для материала или новости
		+e.P.news-txt Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
